# THE Sinking of RMS Titanic


   <img src=StÃ¶wer_Titanic.jpg>

- No doubt was a tragedy (word titanic reflects tragedy) 
- the pictures of men and women, exploding in fear, mixed feelings of fear, hope, love, anger, sadness and self blaming
- it reflects mixed traits the arrogance, carlessness, courage, selfessness, and selfeshness
- what made it more tragic is the fact that the boats were not enough to carry all the pessengers, under the claim that the titanic is unsinkable, and that a ship that big will not sink before another ship comes for rescue
- what made it even worse is that the security guys allowed some boats to going half full..
- in such difficult situations it's really hard to set rules or put strict criteria for the pessengers to be saved
- the Captain of the titanic ordered that women and children be of higher priority, but were women and children given priority (or did the crew tend to give priority to women and children)? 
- of course they were not all women and children who were saved, many men were also saved, and many women couldn't make it
- but how did the crew choose, what was the general criteria? 
- Was a priority given to men of first and/or second class? or was the priority given to men whose children had no one else in the world to live with them?

we will try to answer the above questions through the [Titanic Data](https://d17h27t6h515a5.cloudfront.net/topher/2016/September/57e9a84c_titanic-data/titanic-data.csv), containing demographics and passenger information from 891 of the 2224 passengers and crew on board the Titanic. You can view a description of this dataset on the [Kaggle website](https://www.kaggle.com/c/titanic/data), where the data was obtained.

In [2]:
#importing essential libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## Data Import and wrangling
As a first step we will import our data and get it ready for exploratory data analysis

### Data Import
Importing data, and displaying first few lines

In [5]:
titanic_data=pd.read_csv("titanic-data.csv")
titanic_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S